<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techiessquad.mrtn.patient">

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Family_Sharing_Add" />
        <activity android:name=".Family_Sharing_Delete" />
        <activity
            android:name=".Doctor"
            android:label="@string/title_activity_doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Family_Sharing"
            android:label="@string/title_activity_family__sharing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Labs"
            android:label="@string/title_activity_labs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hospitals"
            android:label="@string/title_activity_hospitals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Medical"
            android:label="@string/title_activity_medical"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeTab_1_CasePaperDitails"
            android:label="@string/title_activity_home_tab_1__case_paper_ditails"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeTab2_reportsDitails"
            android:label="@string/title_activity_home_tab2_reports_ditails"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeTab_3_medicalDitails"
            android:label="@string/title_activity_home_tab_3_medical_ditails"
            android:parentActivityName=".Medical"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoctorTab1_recentDitails"
            android:label="@string/title_activity_doctor_tab1_recent_ditails"
            android:parentActivityName=".Doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FamilyTab1_PatientDitails"
            android:label="@string/title_activity_family_tab1__patient_ditails"
            android:parentActivityName=".Family_Sharing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FamilyPatient_MedicalReoprt_Ditails"
            android:label="@string/title_activity_family_patient__medical_reoprt__ditails"
            android:parentActivityName=".FamilyTab1_PatientDitails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Emergency"
            android:label="@string/title_activity_emergency"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PatientProfile"
            android:label="@string/title_activity_patient_profile"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordActivity" />
        <activity android:name=".Family_Req_Send"></activity>
    </application>

</manifest>